*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  background: no-repeat center center fixed;
  background-size: cover;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  text-shadow: 0px 0px 20px #817f7f;
  font-size: 1.25rem;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.top-div {
  display: flex;
  justify-content: space-between;
  flex: 1;
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 1em;
}

.coin-data {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.coin-data-top {
  display: flex;
  gap: 0.5em;
}

.coin-data-bottom {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

#coin-name {
  align-self: center;
}

.middle-div {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
}

.bottom-div {
  display: flex;
  flex: 1;
  align-items: flex-end;
  justify-content: space-between;
  padding-bottom: 1em;
  padding-left: 2em;
  padding-right: 2em;
}

#author {
  flex: 4;
}

#quote {
  flex: 1;
  text-align: center;
  font-weight: bold;
  line-height: 1.5;
  font-size: 1.2rem;
}

.weather-data {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-self: flex-start;
  font-size: 1.5rem;
}

#weather-city {
  width: 100%;
  text-align: right;
}

#weather-temp {
  align-self: center;
}
