*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background: no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 0px 0px 20px #aaaaaa;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.top-div {
    display: flex;
    justify-content: space-between;
    flex: 1;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 1em;
    border: 2px solid red;
}

.time {
    align-self: center;
    flex: 1;
    border: 2px solid blue;
}

.coin-data {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.coin-data-top {
    display: flex;
    gap: 0.5em;
}

.coin-data-bottom {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

#coin-name {
    align-self: center;
}

#author {
    /* flex: 1; */
    align-self: flex-start;
    text-align: ver;
    padding-top: 1em;
    padding-left: 2em;
    border: 2px solid green;
}
